extends layout.pug

block content
  main.intro
    h1.intro_primary World's leading platform to share ideas, for everyone.
    p.intro_secondary Start blogging right now, you'll love it!
    a(href="posts/create-post" class="create-post-btn").cta Get Started