html
  head
    title= title
    link(rel='stylesheet', href='/styles/styles.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap" rel="stylesheet")
    link(rel="shortcut icon" type="image/png" href="images/blog.png")

  body
    include includes/navbar
    
    block content
    script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')