* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #444;
}

html,
body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #444;
}

li {
  list-style-type: none;
}

.text-center {
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 1rem;
  transition: all 0.1s ease-in;
}

.navbar > a:hover .logo {
  transform: scale(1.1);
}

.nav {
  width: 100%;
}

.nav_items {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

.nav_item {
  margin: 0.5rem 1rem;
}

.intro {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 50%;
  margin: 5rem 5rem;
}

.intro_primary {
  font-size: 3rem;
}

.intro_secondary {
  font-size: 2rem;
}

.cta {
  margin: 2rem 0 1rem 0;
}

.main-img {
  position: absolute;
  right: 10%;
  top: 30%;
  max-width: 50%; /* he-he i tricked css, i hacked css :) */
  max-height: 50%;
}

.msg {
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.msg > * {
  margin: 1rem;
}

.empty {
  font-size: 2rem;
}

.emoticon {
  font-size: 5rem;
}

.create-post {
  width: 75%;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 0 0 16px 8px #ccc;
}

.form-title {
  font-size: 2rem;
  padding: 1rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form > * {
  margin: 1rem auto;
  width: 85%;
}

.success,
.error {
  border-radius: 3px;
  width: 50%;
  margin: auto;
}

.success {
  border: 2px solid #00ff00;
}

.error {
  border: 2px solid #dc143c;
}

.create-post-btn {
  width: auto;
  border: 3px solid #409b9d;
  border-radius: 3px;
  color: #409b9d;
  padding: 1rem 3rem;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.create-post-btn:hover {
  border-color: rgba(64, 155, 157, 0.9);
  color: rgba(64, 155, 157, 0.9);
}

.post-input {
  padding: 1rem;
}

.posts {
  width: 85%;
  margin: auto;
}

.post-item {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.delete-post,
.archive-post {
  transition: all 0.3s ease-in;
  padding: 0.5rem;
  border-radius: 3px;
}

.delete-post:hover,
.archive-post:hover {
  color: #eee;
}

.delete-post:hover {
  background-color: #dc143c;
}

.archive-post:hover {
  background-color: #ffd700;
}

.all-posts {
  width: 85%;
  margin: auto;
}

.post-title {
  font-size: 2rem;
  padding: 1rem;
}

.post-author,
.post-date {
  text-align: left;
}

.post-body {
  margin: 3rem auto;
  padding: 3rem;
  white-space: pre;
  box-shadow: 0 0 16px 8px #ccc;
  border-radius: 10px;
  min-height: 50vh;
}
